In [1]:
import os
import pandas as pd
import media_renamer as m
from PIL import Image
from PIL.ExifTags import TAGS
from pillow_heif import HeifImagePlugin

In [2]:
%load_ext autoreload

In [3]:
%autoreload media_renamer

In [7]:
%autoreload 1
#path = '/Users/volkertjaden/Dropbox/Viola und Luise/'
path = r"C:\Users\Administrator\Dropbox\Viola und Luise"

#l = [{'Name': el, 'Type' : el.split('.')[-1]} for el in os.listdir(path)]
#l = [ {'Name': el, 'Type' : os.path.splitext(el)[1].lower()} for el in os.listdir(path)]

R = m.Renamer(path)
R.get_files()
R.retrieve_datetime_from_meta()
l = R.files

In [12]:
#print(labeled_exif1)
#print(labeled_exif2)
print(labeled_exif3)

{'ExifOffset': 38, 'Orientation': 1}

In [5]:
df = pd.DataFrame.from_records(l)

df.head(10)

                                       Name   Type      CreateTimestamp
0  69292821-d866-4467-bb91-19993fbdf004.JPG   .jpg                False
1                              IMG_2282.MOV   .mov                False
2                       20151222_091610.jpg   .jpg  2015:12:22 09:16:10
3              Foto 01.05.19, 15 23 29.heic  .heic  2019:05:01 15:23:30
4              Foto 01.05.19, 15 23 28.heic  .heic  2019:05:01 15:23:28
5               Foto 19.10.22, 11 47 56.png   .png                False
6                       20151221_151543.jpg   .jpg  2015:12:21 15:15:43
7               Foto 06.05.18, 15 15 17.jpg   .jpg  2018:05:06 15:15:17
8               Foto 01.11.22, 10 39 57.jpg   .jpg  2022:11:01 10:39:57
9                             IMG_0547.heic  .heic  2022:01:01 14:10:15

In [26]:
df.groupby('Type').count().sort_values('Name',ascending=False)

               Name
Type
.jpg           6115
.heic          2702
.mov            775
.mp4             74
.jpeg            56
.png             25
                  5
.pdf              5
.m4v              4
.pages            2
.19, 11 12 12     1
.mp3              1
.xlsx             1